@page
@model LevSundt_Semesterprojekt.Pages.ConstructionSiteModel
@{
  
}

 <div class="container mt-5">
  <img style="width:100%; height:100%;" src="https://us.lifelovingfoods.com/wp-content/uploads/2020/12/under-construction-gif-11.gif"/>
  </div>