<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LevSundt_Semesterprojekt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LevSundt_Semesterprojekt.styles.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/css/homemadestyle.css" asp-append-version="true" />
</head>
<body style="margin-bottom:0;" class="d-flex flex-column min-vh-100">
    
<div class="p-5 bg-primary text-white text-center">
  <h1>Lev Sundt</h1>
  <p>Med Responsivt css!!!</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-page="/Index">forside</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Bmi/index">Bmi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/ConstructionSite">Menu1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container bg-dark text-white">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<div class="navbar mt-auto text-white text-center"  style="padding-bottom:0;">
   <div class="col p-3 bg-primary text-white">
        <h1>partner</h1>
        <p>Din mor</p>
        <p>Hotellet vi hygger på</p>
    </div>
    <div class="col p-3 bg-primary text-white">
        <h1>kontakt</h1>
        <p>tlf:424242442</p>
        <p>email:dinmorsemail@dinmor.dk</p>
    </div>
    <div class="col p-3 bg-primary text-white">
        <h1>Support</h1>
        <p>tlf:424242442</p>
        <p>email:dinmorsemail@dinmor.dk</p>
    </div>
</div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
</body>
</html>