<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LevSundt_Semesterprojekt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LevSundt_Semesterprojekt.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homemadestyle.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    
<div class="p-5 bg-primary text-white text-center">
  <h1>Lev Sundt</h1>
  <p>Med Responsivt css!!!</p> 
</div>

<nav class="navbar navbar-expand-md bg-dark navbar-dark h2 justify-content-center margin-0 ">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
          <a asp-area="" asp-page="/Index"><img class="rounded-circle" src="/billeder/appel.jpg"/></a>
      </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Bmi/Index">BMI</a>
        </li>
        @if(AuthService.AuthorizeAsync(User, "CoachPolicy").Result.Succeeded){
        <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Coach/Index">Coach</a>
        </li>
        }
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/ConstructionSite">Menu1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
      </li>
      @*<li class="nav-item">
           <a class="navbar-brand" asp-area="" asp-page="/Index">UserAuthentication</a>
      </li>*@
    </ul>
    <partial name="_LoginPartial" class="" />
  </div>
</nav>
 <div class="container Content-Background margin-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<div class="navbar mt-auto text-white text-center margin-0 padding-0 row-cols-3 height-100">
   
  
  
</div>

<footer class="container-fluid text-center footer-background text-white">
    <div class="row">
    <div class="col p-3 bg-dark">
  <h1>Kontakt</h1>  
  <p>telf:424242424</p>
  <p>email:Dinmor@gmail.dk</p>
  </div>
  <div class="col p-3 bg-dark">
  <h1>Kontakt</h1>  
  <p>telf:424242424</p>
  <p>email:Dinmor@gmail.dk</p>
  </div>
   <div class="col p-3 bg-dark">
  <h1>Kontakt</h1>  
  <p>telf:424242424</p>
  <p>email:Dinmor@gmail.dk</p>
  </div>
  <div class="col p-3 bg-dark">
  <h1>Kontakt</h1>  
  <p>telf:424242424</p>
  <p>email:Dinmor@gmail.dk</p>
  </div>
  </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
</body>
</html>